h1 {




    color: #010079;




    text-shadow: 0 0 5px white;




    border-left: solid 7px #010079;




    background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px, #e9f4ff 3px, #e9f4ff 7px);




    background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px, #e9f4ff 3px, #e9f4ff 7px);

}







#nam {




    width: 50%;




    height: 50%;

}




.right {

    text-align: right;

}






.left {

    width: 600px;

    font-size: 170%;

    position: absolute;




    top: 100px;




    left: 2%;

}
   .sita {
       width: 100%;
       height: 140px;
       background: rgb(0, 0, 0);
       position: absolute;
       bottom: unset;
       right: 0%;
   }

   #rogo2 {
       width: 23%;
       position: absolute;
       top: 20px;
       right: 70%;
   }

   #js-btn-11 {
       display: inline-block;
       width: 150px;
       height: 80px;
       padding: 8px;
       background-color: #000000;
       font-family: "Times New Roman";
       font-size: 180%;
       color: #FFFFFF;
       text-align: center;
       text-decoration: none;
       border-radius: 24px;
       cursor: pointer;
       user-select: none;
       transition: opacity 0.3s;
       position: absolute;
       right: 61%;
       bottom: 30px;
   }

   #js-btn-21 {
       display: inline-block;
       width: 150px;
       height: 80px;
       padding: 8px;
       background-color: #000000;
       font-family: "Times New Roman";
       font-size: 180%;
       color: #FFFFFF;
       text-align: center;
       text-decoration: none;
       border-radius: 24px;
       cursor: pointer;
       user-select: none;
       transition: opacity 0.3s;
       position: absolute;
       right: 47%;
       bottom: 30px;
   }

   #js-btn-31 {
       display: inline-block;
       width: 150px;
       height: 80px;
       padding: 8px;
       background-color: #000000;
       font-family: "Times New Roman";
       font-size: 180%;
       color: #FFFFFF;
       text-align: center;
       text-decoration: none;
       border-radius: 24px;
       cursor: pointer;
       user-select: none;
       transition: opacity 0.3s;
       position: absolute;
       right: 33%;
       bottom: 30px;
   }

   #js-btn-41 {
       display: inline-block;
       width: 150px;
       height: 80px;
       padding: 8px;
       background-color: #000000;
       font-size: 180%;
       font-family: "Times New Roman";
       color: #FFFFFF;
       text-align: center;
       text-decoration: none;
       border-radius: 24px;
       cursor: pointer;
       user-select: none;
       transition: opacity 0.3s;
       position: absolute;
       right: 19%;
       bottom: 30px;
   }

   #js-btn-51 {
       display: inline-block;
       width: 150px;
       height: 80px;
       padding: 8px;
       background-color: #000000;
       font-family: "Times New Roman";
       font-size: 180%;
       color: #FFFFFF;
       text-align: center;
       text-decoration: none;
       border-radius: 24px;
       cursor: pointer;
       user-select: none;
       transition: opacity 0.3s;
       position: absolute;
       right: 5%;
       bottom: 30px;
   }
