header {




    grid-area: header;

    color: aliceblue;

    background-color: gray;

    display: block;

    margin: auto;

    font-family: "Times New Roman";




}




.rogo1 {

    position: relative;




    top: -10px;

    left: 1150px;

}













.cp_qa *,
.cp_qa *:after,
.cp_qa *:before {

    -webkit-box-sizing: border-box;

    box-sizing: border-box;

}

.cp_qa .cp_actab {

    position: relative;

    overflow: hidden;

    width: 100%;

    margin: 0 0 1em 0;

    color: #1b2538;

}

.cp_qa .cp_actab input {

    position: absolute;

    opacity: 0;

}

/* 質問 */

.cp_qa .cp_actab label {

    font-weight: bold;

    line-height: 1.6em;

    position: relative;

    display: block;

    margin: 0 0 0 0;

    padding: 1em 2em 1em 2.5em;

    cursor: pointer;

    text-indent: 1em;

    border-radius: 0.5em;

    background: rgba(27, 37, 56, 0.1);

}

.cp_qa .cp_actab label::before {

    font-family: serif;

    font-size: 1.5em;

    margin-left: -2em;

    padding-right: 0.5em;

    content: 'Q';

}

.cp_qa .cp_actab label:hover {

    transition: all 0.3s;

    color: #00838f;

}

/* --質問の＋アイコン */

.cp_qa .cp_actab label::after {

    font-size: 1.7em;

    font-weight: bold;

    line-height: 2em;

    position: absolute;

    top: 0;

    right: 0;

    content: '＞';

    display: inline-block;

    width: 2em;

    height: 2em;

    -webkit-transition: transform 0.4s;

    transition: transform 0.4s;

}

/* 答え */

.cp_qa .cp_actab .cp_actab-content {

    position: relative;

    overflow: hidden;

    max-height: 0;

    padding: 0 0 0 2.5em;

    -webkit-transition: max-height 0.2s;

    transition: max-height 0.2s;

    border-radius: 0 0 0.5em 0.5em;

}

.cp_qa .cp_actab .cp_actab-content::before {

    font-family: serif;

    font-size: 1.5em;

    position: absolute;

    margin: 0.4em 0 0 -1em;

    padding: 0;

    content: 'A';

}

.cp_qa .cp_actab .cp_actab-content p {

    margin: 1em 1em 1em 0;

}

/* 質問を開いた時の仕様 */

/* --答えの高さ */

.cp_qa .cp_actab input:checked~.cp_actab-content {

    max-height: 40em;

    border: 10px solid rgba(27, 37, 56, 0.1);

}

/* 質問をクリックした時のアイコンの動き */

.cp_qa .cp_actab input:checked~label {

    color: #00838f;

    border-radius: 0.5em 0.5em 0 0;

}

/* 質問をクリックした時の+の動き */

.cp_qa .cp_actab input[type=checkbox]:checked+label::after {

    -webkit-transform: rotateZ(90deg);

    transform: rotateZ(90deg);

    -webkit-transform-origin: 50% 50%;

    transform-origin: 50% 50%;

}





.foot1 {

    grid-area: footer;

    color: aliceblue;

    background-color: gray;

    display: block;

    margin: auto;

}

                .sita {
                    width: 100%;
                    height: 140px;
                    background: rgb(0, 0, 0);
                    position: absolute;
                    bottom: unset;
                    right: 0%;
                }
        
                #rogo2 {
                    width: 23%;
                    position: absolute;
                    top: 20px;
                    right: 70%;
                }
        
                #js-btn-11 {
                    display: inline-block;
                    width: 150px;
                    height: 80px;
                    padding: 8px;
                    background-color: #000000;
                    font-family: "Times New Roman";
                    font-size: 180%;
                    color: #FFFFFF;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 24px;
                    cursor: pointer;
                    user-select: none;
                    transition: opacity 0.3s;
                    position: absolute;
                    right: 61%;
                     bottom: 30px;
                }
        
                #js-btn-21 {
                    display: inline-block;
                    width: 150px;
                    height: 80px;
                    padding: 8px;
                    background-color: #000000;
                    font-family: "Times New Roman";
                    font-size: 180%;
                    color: #FFFFFF;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 24px;
                    cursor: pointer;
                    user-select: none;
                    transition: opacity 0.3s;
                    position: absolute;
                    right: 47%;
                    bottom: 30px;
                }
        
                #js-btn-31 {
                    display: inline-block;
                    width: 150px;
                    height: 80px;
                    padding: 8px;
                    background-color: #000000;
                    font-family: "Times New Roman";
                    font-size: 180%;
                    color: #FFFFFF;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 24px;
                    cursor: pointer;
                    user-select: none;
                    transition: opacity 0.3s;
                    position: absolute;
                    right: 33%;
                    bottom: 30px;
                }
        
                #js-btn-41 {
                    display: inline-block;
                    width: 150px;
                    height: 80px;
                    padding: 8px;
                    background-color: #000000;
                    font-size: 180%;
                    font-family: "Times New Roman";
                    color: #FFFFFF;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 24px;
                    cursor: pointer;
                    user-select: none;
                    transition: opacity 0.3s;
                    position: absolute;
                    right: 19%;
                    bottom: 30px;
                }
        
                #js-btn-51 {
                    display: inline-block;
                    width: 150px;
                    height: 80px;
                    padding: 8px;
                    background-color: #000000;
                    font-family: "Times New Roman";
                    font-size: 180%;
                    color: #FFFFFF;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 24px;
                    cursor: pointer;
                    user-select: none;
                    transition: opacity 0.3s;
                    position: absolute;
                    right: 5%;
                    bottom: 30px;
                }


                